@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: rgba(47 122 89);
    --color-blue-primary: rgba(18 78 159);
}

* {
    font-family: "Noto Sans Thai", sans-serif;
}